@media(min-width:700px){*{cursor:none !important}}


.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border: 2px solid var(--icon);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: border-color 0.2s ease, transform 0.1s ease;
  z-index: 9999;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background: var(--icon);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background 0.2s ease;
  z-index: 9999;
}

.cursor.active {
  border-color: #00ffe1cb;
  transform: translate(-50%, -50%) scale(1.2);
}

.cursor-dot.active {
  background: #00ffe1cb;
}
